.header{
    display: flex;
    background-color: #04aeda;
    height: 100px;
    justify-content: space-between;
}
.logo{
    margin: 10px;
    height: 70px;
    width: 70px;
    display: grid;
}
.logo img{
    height: 70px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px 1px rgb(54, 52, 52);
}
.navbar{
    margin-top: 5px;
    width: 220px;
    height: 70px;
    display: grid;
    justify-items: center;
    list-style:none;
}
.navbar li {
    display: grid;
    justify-items: center;
    margin: 2px;
    padding-bottom: 7px;
    width: 110px;
    height:15px;
    border: 2px white solid;
    border-radius: 15px;
    box-shadow: 10px 9px 20px 1px rgb(209, 202, 202);
}
.navbar li a{
    display: flex;
    align-items: center;
    margin: 0px;
    text-decoration: none;
    font-size:large;
    color: azure;    
}